.hero-area{
    display: flex;
    flex-direction: row;
    z-index: 999;
    height: calc(100vh - 64px);
}
.home-content{
    flex: 1;

}

.img-area{
    flex: 1;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/home-banner.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
}
.hero-txt{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}
.hero-sub{
    color: #c6c6c6;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1rem;
}
.heroInput{
    width: 70%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.search-icon{
    width: 48px;
    height: 48px;
    background-color: #008FAE;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroInput::placeholder{
    color: #C6C6C6;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1;
    padding-left: 2rem;
}
.s-icon{
    color: #fff;
    font-size: 25px;
}
.i-area{
    margin-top: 1rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    justify-content:center;
}